<a href="/beer/{{this.beerID}}" class="beerCard">
    <div >
        <img src="{{this.beerImage}}" alt="{{this.beerName}}" class="beerImage"> 
        <h2>{{this.beerName}}</h2>
        <h4>{{this.beerTagline}}</h4>
        <p>{{this.beerDescription}}</p>
    </div>
</a>

